form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}
   
.error-message {
    color: red;
    margin-bottom: 10px;
}
  
.success-message {
    color: green;
    margin-bottom: 10px;
}
  
.forgotPasswordTitle{
    font-size: 30px;
    font-family: 'Dubai';
    font-weight: 700;
    color: #3367d6;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.emailLabel{
    font-size: 17px;
    font-family: 'Dubai';
    letter-spacing: 1px;
    color: grey;
    font-weight: bold;
    margin-bottom: 5px;
}
#emailInput{
    font-family: 'Dubai';
    font-size: 14px;
    border-radius: 10px;
    margin-top: 10px;
    width: 90%;
    letter-spacing: 0.5px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    background-color: #f8f8f8;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
}
#emailInput:focus {
    border-color: #FF5722;
    background-color: #FFF;
}

.resetButton{
    margin-top: 30px;
    border-radius: 10px;
    color: grey;
    border: none;
    font-family: 'Dubai';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    cursor:pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}
.resetButton:hover {
    background-color: #E0E0E0;
    color: #333;
}

  